$font-work-sans: 'Work Sans', sans-serif;
// $font-quicksand: 'Quicksand', sans-serif;
// $font-abel: 'Abel', sans-serif;
// $font-questrial: 'Questrial', sans-serif;
$font-poiret-one: 'Poiret One', cursive;
// $font-cabin: 'Cabin', sans-serif;
$font-faster-one: 'Faster One', cursive;
// $font-raleway-dots: 'Raleway Dots', cursive;
// $font-montserrat: 'Montserrat', cursive;
