$font-work-sans: 'Work Sans', sans-serif;
$font-poiret-one: 'Poiret One', cursive;
$font-faster-one: 'Faster One', cursive;

$global-padding-sides: 5rem;
$container-width: 100%;

$min_width: 320px;
$max_width: 2560px;
$min_font: 16px;
$max_font: 64px;
