<article id="power-map-project" class="project scrollspy">
  <figure>
    <img alt="Powerade JS library" class="lazy" data-caption="Porwer Map example with countries. In this example data is synced to a Airtable." src='{{ "/assets/img/projects/01-placeholder.jpg" | absolute_url }}' data-src='{{ "/assets/img/projects/01.gif" | absolute_url }}' data-srcset='{{ "/assets/img/projects/01.gif" | absolute_url }} 1x, {{ "/assets/img/projects/01.gif" | absolute_url }} 2x'>
  </figure>
  <div class="content">
    <header>
      <h3>Power Map</h3>
    </header>
    <div class="description">
      <p>Researched and developed for <a href="https://www.unicef.org">UNICEF DRP</a>, this tool gives the user the ability to visualize and edit graphically their data is stored in <a href="https://airtable.com">Airtable</a>. The visualization library itself will be released open source soon!</p>
      <p class="badges">
        <span class="icon-d3" title="d3"></span>
        <span class="devicons devicons-ruby_on_rails" title="ruby-on-rails"></span>
        <span class="devicons devicons-javascript_badge" title="javascript"></span>
        <span class="devicons devicons-materializecss" title="materializecss"></span>
        <span class="devicons devicons-docker" title="docker for development"></span>
        <span class="devicons devicons-heroku" title="heroku for production"></span>
        <span class="devicons devicons-github_badge" title="github"></span>
        <span class="devicons devicons-opensource" title="opensource"></span>
      </p>
    </div>
  </div>
</article>
