<section class='section music'>
  <header class='section-header'>
    <h2>Music</h2>
  </header>
  {% assign albums = "1847244859 1454660844 2534787525" | split: " " %}
  {% for id in albums %}
  <article class='project music'>
    <header class='project-header' hidden>
      <h3>album-{{id}}</h3>
    </header>
    <div  class='project-media'>
      <div class='player'>
        <iframe title="album-{{id}}" src="https://bandcamp.com/EmbeddedPlayer/album={{id}}/size=large/bgcol=333333/tracklist=false/linkcol=0f91ff/minimal=true/transparent=true/"></iframe>
      </div>
    </div>
  </article>
  {% endfor %}
</section>
