@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/afaundez/icomoon.eot?oa5l4u');
  src:  url('/assets/fonts/afaundez/icomoon.eot?oa5l4u#iefix') format('embedded-opentype'),
    url('/assets/fonts/afaundez/icomoon.ttf?oa5l4u') format('truetype'),
    url('/assets/fonts/afaundez/icomoon.woff?oa5l4u') format('woff'),
    url('/assets/fonts/afaundez/icomoon.svg?oa5l4u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haml:before {
  content: "\e903";
}
.icon-rubygems:before {
  content: "\e90a";
}
.icon-chef-supermarket:before {
  content: "\e900";
}
.icon-chefspec:before {
  content: "\e901";
}
.icon-test-kitchen:before {
  content: "\e902";
}
