<article id="power-map-project" class="col s12 project">
  <div class="col s12 m6 l4 xl3">
    <div class="section">
      <div class="section">
        <img class="responsive-img" src='{{ "/assets/img/projects/01.gif" | absolute_url }}'>
      </div>
    </div>
  </div>
  <header class="white-text col s12 m6 l8 xl9">
    <h3>Power Map</h3>
    <p class="components">
      <span class="devicons devicons-ruby_on_rails" title="ruby-on-rails"></span>
      <span class="devicons devicons-javascript_badge" title="javascript"></span>
      <span class="devicons devicons-materializecss" title="materializecss"></span>
      <span class="icon-d3" title="d3"></span>
      <span class="devicon-docker-plain" title="docker for development"></span>
      <span class="devicons devicons-heroku" title="heroku for production"></span>
      <span class="devicons devicons-github_badge" title="github"></span>
      <span class="devicons devicons-opensource" title="opensource"></span>
    </p>
  </header>
  <p class="description col s12 m6 l8 xl9 white-text">Developed for UNICEF, this visualization tool gives the user the ability of ... the data is stored in airtable. The visualization library itself will be released open source soon!</p>
</article>
