<article id="project-01" class="col s12">
  <div class="col s12 m3">
    <div class="section">
      <img class="responsive-img" src='http://via.placeholder.com/1200x1200'><figcaption class="left">
      </figcaption>
    </div>
  </div>
  <header class="white-text col s12 m9">
    <h3>Powermap</h3>
    <p class="components flow-text">
      <span class="devicons devicons-ruby_on_rails" title="ruby-on-rails"></span>
      <span class="devicons devicons-javascript_badge" title="javascript"></span>
      <span class="devicons devicons-materializecss" title="materializecss"></span>
      <span class="icon-d3" title="d3"></span>
      <span class="devicon-docker-plain" title="docker for development"></span>
      <span class="devicons devicons-heroku" title="heroku for production"></span>
      <span class="devicons devicons-github_badge" title="github"></span
    </p>
  </header>
  <p class="description col s12 m9 white-text flow">Developed for UNICEF, this visualization tool gives the user the ability of ... the data is stored in airtable. The visualization library itself will be released open source soon!</p>
</article>
