<article id="nodenv-cookbook-project" class="col s12 project">
  <div class="col s12 m3">
    <div class="section">
      <img class="responsive-img" src='http://via.placeholder.com/1200x1200'>
      <figcaption class="left">
      </figcaption>
    </div>
  </div>
  <header class="white-text col s12 m9">
    <h3>Nodenv Cookbook</h3>
    <p class="components flow-text">
      <span class="devicons devicons-ruby" title="ruby"></span>
      <span class="devicon-nodejs-plain" title="node.js"></span>
      <span class="icon-chef" title="chef"></span>
      <span class="icon-chef-supermarket" title="chef supermarket"></span>
      <span class="icon-test-kitchen" title="test-kitchen"></span>
      <span class="icon-chefspec" title="chefspec"></span>
      <span class="devicons devicons-github_badge" title="github"></span>
      <span class="devicons devicons-opensource" title="opensource"></span>
      <span class="devicon-travis-plain" title="travis"></span>
    </p>
  </header>
  <p class="description col s12 m9 white-text">Chef Cookbook for nodenv resource, enabling the managing of multiple Node.js versions. This recipe is open source and available on Github or through the Chef Supermarket</p>
</article>
