$font-worksans: 'Work Sans', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-abel: 'Abel', sans-serif;
$font-questrial: 'Questrial', sans-serif;
$font-poiretone: 'Poiret One', cursive;
$font-cabin: 'Cabin', sans-serif;
