<section id="music" class="row">
  <header class="col s12">
    <h2>Music</h2>
  </header>
  <section id="albums" class="row section">
    {% assign albums = "1847244859 1454660844 2534787525" | split: " " %}
    {% for id in albums %}
    <article id="album-{{id}}" class="col m4 s12">
      <div class="video-responsive album">
        <iframe class="player" seamless="" frameborder=0 width='100%' height='100%' src="https://bandcamp.com/EmbeddedPlayer/album={{id}}/size=large/bgcol=333333/tracklist=false/linkcol=0f91ff/minimal=true/transparent=true/"></iframe>
      </div>
    </article>
    {% endfor %}
  </section>
</section>
