main {
  display: flex;
  flex-direction: column;
  text-align: center;

  section.category {
    display: flex;
    flex-direction: column;
    padding: 0 2%;

    article, header, h2, h3, figure, picture, img, video {
      width: 100%;
      max-width: 100%;
    }

    &:nth-child(even) {
      background-color: #101a22;
    }

    &:nth-child(odd) {
      background-color: #fcebe0;
      color: #101a22;
    }

    h2 {
      padding: 10% 0;
      @include fluid-type($min_width, $max_width, 36px, 128px);
      font-weight: lighter;
    }

    article {
      display: flex;
      flex-direction: column;
      padding-bottom: 5%;

      &:last-child {
        padding-bottom: 5%;
      }

      h3 {
        padding-bottom: 10%;
        font-family: $font-faster-one;
        @include fluid-type($min_width, $max_width, 24px, 96px);
        font-weight: 400;
      }

      figure {
        padding-bottom: 5%;

        picture, video {
          border: 2px solid #f15a4c;
          border-radius: 8px;
          box-sizing: border-box;
        }
      }

      p {
        padding-bottom: 5%;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
      }

      &.project {
        a {
          @include fluid-type($min_width, $max_width, $min_font, $max_font);

          color: #f15a4c;
          font-weight: bolder;
        }
      }

      &.website {
        p {
          a {
            color: #cd0a0a;
            font-weight: bolder;
          }
        }
      }

      &.album {
        display: block;

        .player {
          position: relative;

          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: 2px solid white;
            border-radius: 4px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  main section.category {
    header {
      flex-basis: 100%;
      text-align: left;
    }

    &.projects {
      article.project {
        flex-direction: row !important;
        flex-wrap: wrap;

        figure {
          flex-basis: 25%;
        }

        p {
          flex-basis: 70%;
          padding-left: 5%;
          text-align: justify;
        }
      }
    }

    &.websites {
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-around;

      article.website {
        flex-basis: 25%;
        max-width: 25%;
        text-align: left;
      }
    }

    &.music {
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-around;

      .album {
        flex-basis: 25%;

        .player {
          display: flex;
          align-items: flex-start;

          iframe {
            border: none;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
