@import 'portfolio/variables';
@import 'portfolio/firenxis/style';
@import 'portfolio/afaundez/style';
@import 'portfolio/materialize-overrides';

@import 'materialize/components/variables';
@import 'materialize/components/normalize';
@import 'materialize/components/global';
@import 'materialize/components/badges';
@import 'materialize/components/icons-material-design';
@import 'materialize/components/grid';
@import 'materialize/components/materialbox';
@import 'materialize/components/navbar';
@import 'materialize/components/typography';
@import 'materialize/components/tooltip';
@import 'materialize/components/materialbox';

.container {
  margin: 0 auto;
  max-width: initial;
  width: $container-width;
  .row {
    margin: auto 0;
  }
}

@media #{$medium-and-up} {
  .container {
    > .row {
      padding-left: $global-padding-sides;
      padding-right: $global-padding-sides;
    }
  }

  nav .nav-wrapper {
    padding-left: $global-padding-sides;
    padding-right: $global-padding-sides;
  }
}

figure {
  margin: 1rem 0rem;
}

.kong-gradient {
  background: #f1904e;
  background: -moz-linear-gradient(left, #f1904e 0%, #f15a4c 20%, #e63745 40%, #aa384f 60%, #754143 80%, #304d64 100%);
  background: -webkit-linear-gradient(left, #f1904e 0%,#f15a4c 20%,#e63745 40%,#aa384f 60%,#754143 80%,#304d64 100%);
  background: linear-gradient(to right, #f1904e 0%,#f15a4c 20%,#e63745 40%,#aa384f 60%,#754143 80%,#304d64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1904e', endColorstr='#304d64',GradientType=1 );
}

body {
  header {
    nav {
      @extend .kong-gradient;
      i {
        font-size: 4rem !important;
      }
    }

    .brand-logo {
      font-family: $font-poiret-one;
    }
  }

  main {
    section#about  {
      @extend .kong-gradient;
      h1 {
        margin-top: 6.5rem;
        bottom: 0.5rem;
      }
    }

    section#projects, section#others, section#music, section#e404 {
      background-color: #101a22;
      color: #fcebe0;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      > header {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
        text-align: center;
      }

      article {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
      }

      p.description {
        text-align: justify;
      }

      p.components {
        text-align: center;
      }
    }

    article.project {
      h3 {
        font-family: $font-faster-one;
        text-align: center;
      }

      a {
        font-weight: bold;
      }

      &.show-up {
        transition: box-shadow .50s;
        box-shadow: 0 0 1rem 0.3rem rgba(230, 55, 69, 0.2), 0 0 0.8rem 0.2rem rgba(230, 55, 69, 0.19);
      }
    }

    section#others {
      background-color: #fcebe0;
      color: #101a22;

      article {
        a {
          color: #cd0a0a;
        }
      }

    }

    section#music {
      .album {
        position: relative;
      }

      .album:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .player {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  footer {
    @extend .kong-gradient;
    font-family: $font-poiret-one;
    color: white;
    margin: 0 0;

    &.row {
      margin: auto 0;
    }
  }
}
