$font-work-sans: 'Work Sans', 'Helvetica', sans-serif;
$font-poiret-one: 'Poiret One', 'Helvetica', sans-serif;
$font-faster-one: 'Faster One', 'Helvetica', sans-serif;

$global-padding-sides: 5rem;
$container-width: 100%;

$min_width: 320px;
$max_width: 2560px;
$min_font: 16px;
$max_font: 64px;

@import 'utils';
@import 'iconmoon';
@import 'base';
@import 'header';
@import 'about';
@import 'main';
@import 'footer';
