.kong-gradient {
  background: #f1904e;
  background: -moz-linear-gradient(left, #f1904e 0%, #f15a4c 20%, #e63745 40%, #aa384f 60%, #754143 80%, #304d64 100%);
  background: -webkit-linear-gradient(left, #f1904e 0%, #f15a4c 20%, #e63745 40%, #aa384f 60%, #754143 80%, #304d64 100%);
  background: linear-gradient(to right, #f1904e 0%, #f15a4c 20%, #e63745 40%, #aa384f 60%, #754143 80%, #304d64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1904e', endColorstr='#304d64',GradientType=1 );
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  body {
    font-family: $font-work-sans;
    color: #fcebe0;
    width: 100%;

    ul {
      list-style-type: none;
    }

    a, a:link, a:visited, a:focus, a:hover, a:active {
      color: #fcebe0;
      text-decoration: none;
    }
  }
}
