<article id="nodenv-cookbook-project" class="project">
  <header>
    <h3>Nodenv Cookbook</h3>
  </header>
  <figure>
    <picture>
      <source srcset='{{ "/assets/media/projects/placeholder-02.jp2" | absolute_url }}' type='image/jp2'>
      <source srcset='{{ "/assets/media/projects/placeholder-02.webp" | absolute_url }}' type='image/webp'>
      <img src='{{ "/assets/media/projects/placeholder-02.jpg" | absolute_url }}' data-src='{{ "/assets/media/projects/02.mp4" | absolute_url }}' class="lazy" alt="Nodenv Chef cookbook" data-caption="Adding nodenv-cookbook to a Berksfile">
    </picture>
    <figcaption class="badges">
      <span class="devicons devicons-chef" title="chef"></span>
      <span class="devicons devicons-chef-supermarket" title="chef supermarket"></span>
      <span class="devicons devicons-test-kitchen" title="test-kitchen"></span>
      <span class="devicons devicons-chefspec" title="chefspec"></span>
      <span class="devicons devicons-ruby" title="ruby"></span>
      <span class="devicons devicons-nodejs_small" title="node.js"></span>
      <span class="devicons devicons-github_badge" title="github"></span>
      <span class="devicons devicons-opensource" title="opensource"></span>
      <span class="devicons devicons-travis" title="travis"></span>
    </figcaption>
  </figure>
  <p class="description"><a href="https://www.chef.io">Chef</a> cookbook for <a href="https://github.com/nodenv/nodenv">Nodenv</a> install and management, enabling a resource for the configuration of multiple <a href="https://nodejs.org">Node.js</a> versions. This recipe is open source and available on <a href="https://github.com/afaundez/nodenv-cookbook">Github</a> or through the <a href="https://supermarket.chef.io/cookbooks/nodenv">Chef Supermarket</a>.</p>
</article>
