<article id="power-map-project" class="project">
  <header>
    <h3>Power Map</h3>
  </header>
  <figure>
    <picture>
      <source srcset='{{ "/assets/media/projects/placeholder-01.jp2" | absolute_url }}' type='image/jp2'>
      <source srcset='{{ "/assets/media/projects/placeholder-01.webp" | absolute_url }}' type='image/webp'>
      <img src='{{ "/assets/media/projects/placeholder-01.jpg" | absolute_url }}' data-src='{{ "/assets/media/projects/01.mp4" | absolute_url }}' class="lazy" alt="Powerade JS library" data-caption="Porwer Map example with countries. In this example data is synced to a Airtable.">
    </picture>
    <figcaption class="badges">
      <span class="devicons devicons-ruby_on_rails" title="ruby-on-rails"></span>
      <span class="devicons devicons-javascript" title="javascript"></span>
      <span class="devicons devicons-materializecss" title="materializecss"></span>
      <span class="devicons devicons-docker" title="docker for development"></span>
      <span class="devicons devicons-github_badge" title="github"></span>
      <span class="devicons devicons-opensource" title="opensource"></span>
    </figcaption>
  </figure>
  <p class='description'>Researched and developed for <a href="https://www.unicef.org">UNICEF DRP</a>, this tool gives the user the ability to visualize and edit graphically their data is stored in <a href="https://airtable.com">Airtable</a>. The visualization library itself will be released open source soon!</p>
</article>
