$font-family: Arcade Classic, Helvetica, sans-serif;
$color: white;
$background-color: black;
$heading-font-family: Arcade Interlaced, Helvetica, sans-serif;
$selectable-font-family: Arcade Interlaced, Helvetica, sans-serif;
$selectable-color: #fff2af;
$highlight-color: #d31900;
