body > header {
  @extend .kong-gradient;
  display: flex;
  flex-wrap: wrap;
  h1.brand {
    flex-basis: 100%;
    @include fluid-type($min_width, $max_width, 48px, 96px);
    font-family: $font-poiret-one;
    text-align: center;
  }
  ul.links {
    display: inline-flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    li  {
      display: inline-flex;
      align-items: center;
      a {
        i {
          @include fluid-type(320px, 600px, 100px, 256px);
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  body > header {
    justify-content: space-between;
    padding: 5rem 5rem;
    h1.brand {
      flex-basis: auto;
    }
    ul.links {
      flex-basis: auto;
      li a i {
        @include fluid-type(600px, $max_width, 18px, 192px);
      }
    }
  }
}
