---
---
@font-face {
  font-family: Arcade;
  src: url('/assets/style/fonts/arcade/arcade.ttf') format('truetype');
}
@font-face {
  font-family: Arcade Interlaced;
  src: url('/assets/style/fonts/arcade/arcade-interlaced.ttf') format('truetype');
}
@font-face {
  font-family: Arcade Rounded;
  src: url('/assets/style/fonts/arcade/arcade-rounded.ttf') format('truetype');
}

@import 'default/base';
@import 'default/layout';
@import 'default/module';
@import 'default/theme';
