$arcade-font-family: Arcade, Helvetica, sans-serif;
$arcade-interlaced-font-family: Arcade Interlaced, Helvetica, sans-serif;
$arcade-rounded-font-family: Arcade Rounded, Helvetica, sans-serif;
$arcade-classic-font-family: Arcade Classic, Helvetica, sans-serif;

body {
  margin: 0;

  img, video {
    max-width: 100%;
  }

  ul, ol {
    margin: 0;
    padding: 0;
  }
}
