.gallery {
  .item {
    height: 100%;
    width: 100%;

    &--bandcamp {
      position: relative;
      padding: 60% 0 0;
      max-width: 700px;
      max-height: 700px;

      .player {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 700px;
        max-height: 700px;
      }
    }
  }
}

.pages, .networks {
  display: flex;
  flex-flow: row wrap;

  *:not(:last-child) {
    margin-right: .5rem;
  }
}

.page, .network {
  &--current {
    color: red;
  }
}
