$base-font-family: Arcade Classic, Helvetica, sans-serif;
$base-color: white;
$base-background-color: black;
$base-heading-font-family: Arcade Interlaced, Helvetica, sans-serif;
$base-selectable-font-family: Arcade Interlaced, Helvetica, sans-serif;
$base-selectable-color: #fff2af;
$base-highlight-color: #d31900;
