<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% seo title=false %}
    {% assign host = site.title %}
    {% if page.layout == 'post' %}
    {% assign path = page.categories | first %}
    {% assign cmd = page.title | downcase | slugify %}
    {% else %}
    {% assign path = page.title | downcase %}
    {% endif %}
    <title>{{ host }}:~{{ path | prepend: '/' }} $ {{ cmd }}</title>
    {% include favicon.html %}
    <link rel='stylesheet' href="{{ '/assets/style/arcade.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body class='site'>
    <nav class='site-nav'>
      {% include nav.html %}
    </nav>
    {{ content }}
    <footer class='site-footer'>
      {% include footer.html %}
    </footer>
  </body>
  <script src='/assets/scripts/default.js'></script>
</html>
