<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv= 'Content-Type'>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Faster+One|Poiret+One|Work+Sans:200' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#304d64">
    <meta name="msapplication-TileColor" content="#f1904e">
    <meta name="theme-color" content="#f1904e">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <main class='container'>
      {{ content }}
    </main>
    <footer class="row">
      {% include footer.html %}
    </footer>
    <script src="{{ '/assets/js/materialize/bin/materialize.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>
