<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv= 'Content-Type'>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abel|Poiret+One|Questrial|Quicksand|Work+Sans|Cabin' rel='stylesheet'>
    <meta content='width=device-width, initial-scale=1.0', name='viewport'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class='container'>
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js'></script>
  </body>
</html>
